.df-window{
    display:none;
    width: 50%;    
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding: 10px 30px 30px 30px;
    border-radius:10px;
}
 
.df-mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}

.df-btn-fechar{
	margin-left: 10px;
}

.df-field-error{
    color: #FF0000;
}